/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.min.css';
.container {
    width: 600px;
    border: 15px solid green;
    padding: 30px;
    margin: 20px;
    font-size: 20px;
}

.toolbar {
    background-color: #81c784;
}

.title {
    margin: auto;
    font-size: 35px;
    font-weight: bold;
    padding-left: 90%;
}


/*Buttons*/

.add-button:hover {
    background-color: #03a9f4;
}

.remove:hover {
    background-color: #f05545;
}

.update:hover {
    background-color: #4caf50c8;
}

.enter-button {
    padding: auto;
    align-items: center;
}